

<footer>
  <div class="container-fluid">
    <div class="row footer-top">
      <div class="col-lg-6 col-sm-12">
        <div class="row">
          <div class="col-lg-1 col-sm-1">
            <img src="../assets/footer.svg" alt="footer-logo" class="footer-logo">
          </div>
          <div class="col-lg-11 col-sm-11">
            <ul class="footer-menu">
              <li>
                <a href="#">ABOUT US</a>
              </li>
              <li>
                <a href="#">CONTACT US</a>
              </li>
              <li>
                <a href="#">CAREERS</a>
              </li>
              <li>
                <a href="#">LOCATIONS</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-sm-12">
        <ul class="social-icons float-lg-right float-sm-left">
          <li>
              <a href="#"><img src="../assets/facebook.png" alt="facebook"></a>
          </li>
          <li>
              <a href="#"><img src="../assets/linkedin.png" alt="linkedin"></a>
          </li>
          <li>
              <a href="#"><img src="../assets/twitter.png" alt="twitter"></a>
          </li>
          <li>
             <a href="#"><img src="../assets/youtube.png" alt="youtube"></a>
          </li>
        </ul>
      </div>
    </div>

    <div class="row footer-bottom">
      <div class="col-lg-8 col-sm-12">
        <ul class="sitemap">
          <li>
            <a href="#">Privacy Statement</a>
          </li>
          <li>
            <a href="#">Terms & Conditions</a>
          </li>
          <li>
            <a href="#">Cookie Policy</a>
          </li>
          <li>
            <a href="#">Accessibility Statement</a>
          </li>
          <li>
            <a href="#">Sitemap</a>
          </li>
        </ul>
      </div>

      <div class="col-lg-4 col-sm-12">
        <p class="float-lg-right float-sm-left">&copy; 2019 Accenture. All Rights Reserved.</p>
      </div>
    </div>
  </div>
</footer>
