/* You can add global styles to this file, and also import other style files */

/* @import "-@fortawesome/fontawsome-free/css/all.css"; */

body{
  width: 100%;
  font-size: 16px;
}

a{
  transition: all 0.5s;
}


h1{
  line-height: 1;
  font-size: 4.063em;
  margin-bottom: 23px;
}




.btn {
  color: #fff;
  background-color: #212529;
  padding: 12px 30px;
  margin-top: 15px;
  border-radius: 2px;
  /* box-shadow: 6px 6px 0px #a7a7a7; */
  transition: all 0.5s;
  display: inline-block;
  position: relative;
  z-index: 9;
}

.btn:hover {
  transform: translate(-6px, -6px);
  color: #fff;
  box-shadow: 2px 2px 4px #636363;
}

.behind {
  width: 157px;
  position: absolute;
  height: 48px;
  background-color: #a7a7a7;
  bottom: -6px;
  left: 6px;
  z-index: 0;
}

.btn-white {
  background-color: #fff;
  color: #000;
  font-weight: 600;
}

.btn-white:hover {
  color: #000;
}


.main-btn {
  position: relative;
}

.heading-title {
  border-bottom: 2px solid #004dff;
  padding-bottom: 6px;
  font-size: .75em;
  display: inline-block;
  margin-bottom: 40px;
}



h3 a {
  color: #000;
  margin-bottom: 10px;
  display: inline-block;
  text-decoration: none;
}

h3 a:hover {
  color: #007bff;
  text-decoration: none;
}

.new-button {
  font-size: 1em;
  text-transform: uppercase;
  font-weight: 700;
  position: relative;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  display: inline-block;
  padding: 5px 20px 5px 0;
}

.new-button:hover {
  color: #000;
  text-decoration: none;
}

.new-button:hover:before {
  content: "";
  background-color: #000;
  width: 87%;
  height: 2px;
  position: absolute;
  left: 0;
}

.new-button:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 0;
  height: 2px;
  background-color: #007bff;
  /* transform: translateX(-100%); */
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.new-button:after {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 8px;
  right: -6px;
  content: "";
  background: url(./assets/right-arrow-blue.svg);
  background-size: cover;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.new-button:hover:after {
  background: url(./assets/right-arrow.svg);
  right: -14px;
  background-size: cover;
}
h2 {
  font-size: 3em;
}
.action {
  padding: 25px 0;
}






@media (max-width: 1199px){

  h1{font-size: 3.0em;}


  .carousel-item {
    max-width: 60% !important;
    top: 18% !important;
}

.slider-img {
    background-color: transparent !important;
    height: 347px !important;
}

h2 {
    font-size: 2.3em;
}

h3 {
    font-size: 1.50em;
}

.i-bottom-box {
    padding: 25px 15px;
}


}

@media (max-width: 991px){

h1 {
  font-size: 2em;
}
.slider-img {
  background-color: transparent !important;
  height: 365px !important;
  background-size: cover !important;
}


}


@media (max-width: 767px){

.carousel-item {
  max-width: 100% !important;
  top: 18% !important;
  left: 15px;
  padding: 0 !important;
  margin-right: 15px !important;
}

}
