<section class="Wise-Pivot">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6 col-sm-12 text-wise-pivot">
        <span class="heading-title">Wise-Pivot</span>
        <h3><a href="#">Embrace the power of the wise pivot</a></h3>
        <p>Today’s most successful companies rely on ambitious, industry-specific moves to stave off persistent disruption and actively shape their futures.</p>
        <a href="#" class="new-button">read more </a>

      </div>
      <div class="col-lg-6 col-sm-12">

      </div>
    </div>
  </div>
</section>

<section class="proud-moment">
<div class=container-fluid>
  <div class="row">
    <div class="col-lg-5 col-sm-12">
      <h4>50 YEARS–MANY PROUD MOMENTS</h4>
    </div>
    <div class="col-lg-5 col-sm-12">
      <p>Share your favorite Pride moment as we honor Stonewall together</p>
    </div>
    <div class="col-lg-2 col-sm-12 float-lg-right">
        <a href="#" class="new-button">read more</a>
    </div>
  </div>
</div>
</section>

<section class="action">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6 col-sm-12">
        <h2>Expertise in Action</h2>
        <p>New isn’t on its way. We’re applying it now. See how we bring the new to life with our clients in every industry, in every country, each and every day.</p>
      </div>
    </div>
  </div>
</section>

<section class="blog">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6 col-sm-12 inner-blog">
        <div class="blog_img">
            <img src="../assets/blog_01.jpg" alt="blog">
        </div>
            <h3><a href="#"> Reimagining guest experiences on the high seas</a></h3>
            <p>Carnival Corporation connects high-touch technology and the human touch to create hyper-relevant experiences for thousands of guests at a time.</p>
            <a href="#" class="new-button">find out more</a>
        </div>
        <div class="col-lg-6 col-sm-12 inner-blog">
            <div class="blog_img">
                <img src="../assets/blog_01.jpg" alt="blog">
            </div>
                <h3><a href="#"> Reimagining guest experiences on the high seas</a></h3>
                <p>Carnival Corporation connects high-touch technology and the human touch to create hyper-relevant experiences for thousands of guests at a time.</p>
                <a href="#" class="new-button">find out more</a>
            </div>
    </div>
  </div>
</section>

<section class="careers" style="background-image: url(../assets/Hallway.jpg)">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6 con-sm-12">
        <div class="inner-careers">
          <p><span class="heading-cr">careers</span></p>
          <h2>Come innovate with us!</h2>
          <p>Join our diverse group of innovators—working to solve industries’ and organizations’ most challenging problems together.</p>
          <p class="main-btn">
              <a href="#" class="btn">LEARN MORE</a>
              <a href="#" class="behind"></a>
          </p>
        </div>
      </div>
      <div class="col-lg-6 con-sm-12">
      </div>
    </div>
  </div>
</section>

<section class="innovation">
  <div class="container-fluid">
    <div class="row innovation-top">
      <div class="col-lg-6 col-sm-12">
        <h2>A New Lens on Innovation</h2>
      </div>
      <div class="col-lg-6 col-sm-12 f-right">
          <a href="#" class="new-button float-lg-right float-sm-left">GO TO INSIGHTS</a>
      </div>
    </div>

    <div class="row innovation-bottom">
        <div class="col-lg-4 col-sm-12">
          <div class="i-top-box">
            <img src="../assets/Accen.jpg" alt="accen">
          </div>
          <div class="i-bottom-box">
            <span class="heading-title">Wise-Pivot</span>
            <h3><a href="#">How to scale innovation to drive growth</a></h3>
            <p>Learn four ways leaders manage successful digital transformations.</p>
            <a href="#" class="new-button">GO TO INSIGHTS</a>
          </div>
        </div>

        <div class="col-lg-4 col-sm-12">
            <div class="i-top-box">
              <img src="../assets/Accen.jpg" alt="accen">
            </div>
            <div class="i-bottom-box">
              <span class="heading-title">Wise-Pivot</span>
              <h3><a href="#">How to scale innovation to drive growth</a></h3>
              <p>Learn four ways leaders manage successful digital transformations.</p>
              <a href="#" class="new-button">GO TO INSIGHTS</a>
            </div>
          </div>

          <div class="col-lg-4 col-sm-12">
              <div class="i-top-box">
                <img src="../assets/Accen.jpg" alt="accen">
              </div>
              <div class="i-bottom-box">
                <span class="heading-title">Wise-Pivot</span>
                <h3><a href="#">How to scale innovation to drive growth</a></h3>
                <p>Learn four ways leaders manage successful digital transformations.</p>
                <a href="#" class="new-button">GO TO INSIGHTS</a>
              </div>
            </div>
      </div>
    </div>
</section>


<section class="subscribe">
  <div class="container-fluid">
    <div class="row inner-subscribe">
      <div class="col-lg-8 col-md-8 col-sm-12">
        <div class="subscribe-section">
        <div class="row">
          <div class="col-lg-8 col-sm-12">
              <span class="heading-cr">SUBSCRIPTION CENTER</span>
              <h3>Stay in the Know with Our Newsletter</h3>
          </div>
          <div class="col-lg-4 col-sm-12">
              <p class="main-btn">
                  <a href="#" class="btn btn-white">LEARN MORE</a>
                  <a href="#" class="behind"></a>
              </p>
          </div>
        </div>
      </div>
    </div>
      <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="logo-section">
          <embed type="image/svg+xml" src="../assets/illustration.svg" />
        <!-- <span class="inner-section-logo" style="background-image: url(../assets/illustration.svg)"></span> -->
      </div>
    </div>
    </div>
  </div>
</section>

